<link rel="stylesheet" href="/css/sign.css">

<div class="box">

    <h1>Log In</h1>
    
    <form action="/users/create-session" method="POST">

        <div class="input-container">
            <input type="email" name="email" required>
            <label>Email</label>
        </div>

        <div class="input-container">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        
        <button type="submit" class="btn">Log In</button>
    </form>

    <p>
        <a href="/users/sign-up">No Account yet? </a>
    </p>
    
</div>